<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Sector ID</th>
                    <th>Sector Name</th>
                    <th>Actions</th>

                </tr>
            </thead>

        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="text-align:center">Update Sector</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Sector Name:</label>
                                <input type="text" class="form-control" id="UpdateSectorName" placeholder="Enter Sector Name">
                                <input type="text" class="form-control" id="SectorId" style="display:none">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Close</b></button>
                        <button type="button" class="btn btn-primary" id="UpdateSector"><i class="fa fa-plus"> <b>Save</b></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.js"></script>

<script>
    $(document).ready(function () {
        //$('#example').DataTable();

        $(function () {
            $('#example').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "ajax": {
                    "url": "/Sectors/GetSectors",
                    "type": "GET",
                    "data": "json"
                },
                "order": [0, "desc"],
                "columns": [
                    { "data": "SectorId", "autoWidth": true },
                    { "data": "SectorName", "autoWidth": true },
                    {
                        "aTargets": [2],
                        "data": "SectorId",
                        "mRender": function (data) {
                            return '<button type="button" id="' + data + '" onclick="Edit(' + data + ')" class="btn btn-primary">Edit Sectors <i class = "fa fa-edit"></i></button> <button type="button" id="' + data + '" onclick="Delete(' + data + ')" class="btn btn-danger">Delete Sectors <i class = "fa fa-trash"></i></button>';

                        },
                    }
                ]
            });
        });
    });


    function Delete(id) {
        swal({
            title: "Delete Warning",
            text: "Are you sure you want to delete this sector?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it",
            closeOnConfirm: true
        },
            function () {
                $.ajax({
                    url: '/Sectors/DeleteSector',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        sectorId: id,
                    }),
                    success: function (result) {
                        if (result === "Success") {
                            $('#example').DataTable().ajax.reload();
                            swal({
                                title: "Delete Result",
                                text: "Sector Deleted Successfully",
                                type: "success"
                            });
                        }
                    },
                    error: function (result) {
                        swal({
                            title: "Error",
                            text: "client Side Error, please check internet connection",
                            type: "error"
                        });
                    }
                })
            });
    }


    function Edit(id) {

        $.ajax({
            url: '/Sectors/GetSectorFromId',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                sectorId: id,
            }),
            success: function (result) {
                $('#UpdateModal').modal('show');

                document.getElementById("UpdateSectorName").value = result;
                document.getElementById("SectorId").value = id;
            },
            error: function (result) {
                swal({
                    title: "Error",
                    text: "client Side Error, please check internet connection",
                    type: "error"
                });
            }
        })

    }


    document.getElementById("UpdateSector").onclick = function () {

        if ($('#UpdateSectorName').val() == null || $('#UpdateSectorName').val() == "") {
            swal({
                title: "Warning",
                text: "Sector name is compulsory",
                type: "warning",
                confirmButtonText: "DISMISS"
            });
            return false;
        }

        document.getElementById("UpdateSector").innerHTML = "Please Wait...";

        document.getElementById("UpdateSector").disabled = true;

        $.ajax({
            url: '/Sectors/UpdateSector',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                sectorName: $('#UpdateSectorName').val(),
                sectorId: $('#SectorId').val()
            }),
            success: function (result) {

                if (result == "Success") {
                    document.getElementById("UpdateSector").innerHTML = "Save";

                    document.getElementById("UpdateSector").disabled = false;

                    $('#exampleModal').modal('hide');

                    swal({
                        title: "Successful",
                        text: "Previous Sector Updated",
                        type: "success",
                        confirmButtonText: "DISMISS"
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                //window.location.href = "/Sectors/AddNewSector";
                                $('#example').DataTable().ajax.reload();
                            }
                        });
                }
                else {
                    swal({
                        title: "Update Failure",
                        text: "An error occured while updating",
                        type: "warning",
                        confirmButtonText: "DISMISS"
                    });
                }
            },
            error: function (result) {
                document.getElementById("UpdateSector").innerHTML = "Save";

                document.getElementById("UpdateSector").disabled = false;
                swal({
                    title: "Error",
                    text: "Server Side Error, please check internet connection",
                    type: "error"
                });
            }
        })
    }
</script>


