@model IEnumerable<RedCheetah.Core.Models.Sector>
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Channel ID</th>
                    <th>Channel Name</th>
                    <th>Sector Name</th>
                    <th>Actions</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="text-align:center">Update Channel</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Select Sector</label>
                                        <select class="form-control" id="UpdateSectorType">
                                            <option value="">--Select Sector--</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Channel Name:</label>
                                <input type="text" class="form-control" id="UpdateChannelName" placeholder="Enter Channel Name">
                                <input type="text" class="form-control" id="ChannelId" style="display:none">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Close</b></button>
                        <button type="button" class="btn btn-primary" id="UpdateChannel"><i class="fa fa-plus"> <b>Save</b></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.js"></script>

<script>
    $(document).ready(function () {
        //$('#example').DataTable();

        $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": {
                "url": "/Channels/GetChannels",
                "type": "GET",
                "data": "json"
            },
            "order": [0, "desc"],
            "columns": [
                { "data": "ChannelId", "autoWidth": true },
                { "data": "ChannelName", "autoWidth": true },
                { "data": "SectorName", "autoWidth": true },
                {
                    "aTargets": [3],
                    "data": "ChannelId",
                    "mRender": function (data) {
                        return '<button type="button" id="' + data + '" onclick="Edit(' + data + ')" class="btn btn-primary">Edit Channel <i class = "fa fa-edit"></i></button> <button type="button" id="' + data + '" onclick="Delete(' + data + ')" class="btn btn-danger">Delete Channel <i class = "fa fa-trash"></i></button>';

                    },
                }
            ]
        });
    });


    function Delete(id) {
        swal({
            title: "Delete Warning",
            text: "Are you sure you want to delete this channel?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it",
            closeOnConfirm: true
        },
            function () {
                $.ajax({
                    url: '/Channels/DeleteChannel',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        channelId: id,
                    }),
                    success: function (result) {
                        if (result === "Success") {
                            $('#example').DataTable().ajax.reload();
                            swal({
                                title: "Delete Result",
                                text: "Channel Deleted Successfully",
                                type: "success"
                            });
                        }
                    },
                    error: function (result) {
                        swal({
                            title: "Error",
                            text: "client Side Error, please check internet connection",
                            type: "error"
                        });
                    }
                })
            });
    }


    function Edit(id) {
        
        $.ajax({
            url: '/Channels/GetChannelFromId',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                channelId: id,
            }),
            success: function (result) {
              
                $('#UpdateModal').modal('show');
               


                result.sectors.forEach(function (element) {
                   // alert(element.channelName);
                    $('#UpdateSectorType').append('<option value="' + element.sectorId + '">' + element.sectorName + '</option>')
                });

                document.getElementById("UpdateChannelName").value = result.channelName;

                document.getElementById("UpdateSectorType").value = result.sectorId;

                document.getElementById("ChannelId").value = id;
            },
            error: function (result) {
                swal({
                    title: "Error",
                    text: "client Side Error, please check internet connection",
                    type: "error"
                });
            }
        })

    }


    document.getElementById("UpdateChannel").onclick = function () {

        if ($('#UpdateChannelName').val() == null || $('#UpdateChannelName').val() == "") {
            swal({
                title: "Warning",
                text: "Channel name is compulsory",
                type: "warning",
                confirmButtonText: "DISMISS"
            });
            return false;
        }

        document.getElementById("UpdateChannel").innerHTML = "Please Wait...";

        document.getElementById("UpdateChannel").disabled = true;

        $.ajax({
            url: '/Channels/UpdateChannel',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                channelName: $('#UpdateChannelName').val(),
                channelId: $('#ChannelId').val(),
                sectorId: $('#UpdateSectorType').val()
            }),
            success: function (result) {

                if (result == "Success") {
                    document.getElementById("UpdateChannel").innerHTML = "Save";

                    document.getElementById("UpdateChannel").disabled = false;

                    $('#exampleModal').modal('hide');

                    swal({
                        title: "Successful",
                        text: "Previous Channel Updated",
                        type: "success",
                        confirmButtonText: "DISMISS"
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                //window.location.href = "/Sectors/AddNewSector";
                                $('#example').DataTable().ajax.reload();
                            }
                        });
                }
                else {
                    swal({
                        title: "Update Failure",
                        text: "An error occured while updating",
                        type: "warning",
                        confirmButtonText: "DISMISS"
                    });
                }
            },
            error: function (result) {
                document.getElementById("UpdateChannel").innerHTML = "Save";

                document.getElementById("UpdateChannel").disabled = false;
                swal({
                    title: "Error",
                    text: "Server Side Error, please check internet connection",
                    type: "error"
                });
            }
        })
    }

</script>


