@model IEnumerable<RedCheetah.Core.Models.Channel>
@{
    ViewBag.Title = "AddNewLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Data table dependency-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" style="font-weight:bold"><i class="fa fa-plus"></i> Add New Location</button>
        </div>
    </div>
    <br />
    @Html.Partial("_ListLocations")


    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="text-align:center">Add Location</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="form-control" id="ChannelType">
                                                <option value="double chocolate">--Select Channel--</option>
                                                @foreach (var content in Model)
                                                {
                                                    <option value="@content.ChannelId">@content.ChannelName</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Location Name:</label>
                                    <input type="text" class="form-control" id="locationName" placeholder="Enter Location Name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Close</b></button>
                            <button type="button" class="btn btn-primary" id="AddLocation"><i class="fa fa-plus"> <b>Save</b></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        document.getElementById("AddLocation").onclick = function () {

            if ($('#locationName').val() == null || $('#locationName').val() == "") {
                swal({
                    title: "Warning",
                    text: "location name is compulsory",
                    type: "warning",
                    confirmButtonText: "DISMISS"
                });
                return false;
            }

            if ($('#ChannelType').val() == null || $('#ChannelType').val() == "") {
                swal({
                    title: "Warning",
                    text: "Channel Type is compulsory",
                    type: "warning",
                    confirmButtonText: "DISMISS"
                });
                return false;
            }

            document.getElementById("AddLocation").innerHTML = "Please Wait...";

            document.getElementById("AddLocation").disabled = true;

            $.ajax({
                url: '/Locations/CreateLocation',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    LocatonName: $('#locationName').val(),
                    channelId: $('#ChannelType').val()
                }),
                success: function (result) {

                    if (result == "Success") {
                        document.getElementById("AddLocation").innerHTML = "Save";

                        document.getElementById("AddLocation").disabled = false;

                        $('#exampleModal').modal('hide');
                        $('#example').DataTable().ajax.reload();
                        swal({
                            title: "Successful",
                            text: "New Location Created",
                            type: "success",
                            confirmButtonText: "DISMISS"
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = "/Locations/AddNewLocation";
                                    //$('#example').DataTable().ajax.reload();
                                }
                            });
                    } else {
                        swal({
                            title: "Create Failure",
                            text: "An error occured while creating",
                            type: "warning",
                            confirmButtonText: "DISMISS"
                        });
                    }
                },
                error: function (result) {
                    document.getElementById("AddLocation").innerHTML = "Save";

                    document.getElementById("AddLocation").disabled = false;
                    swal({
                        title: "Error",
                        text: "Server Side Error, please check internet connection",
                        type: "error"
                    });
                }
            })
        }
    })
</script>
